* {
  box-sizing:border-box;
}
{
    padding:0px;
    margin:0px;
}
header{
    background:#FF4B2B;
    height: 150px;
    border-bottom: 1px solid #A92207;
    border-radius:5px;
    margin:0px;
}
.logo {
    float:left;
    padding:50px;
}
.header-block {
    float:right;
    padding:50px;
    padding-right:100px;
    display:inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
 padding-bottom:initial;
}

li a {
  display: block;
  color:#000000;
  padding: 40px;
  text-decoration: none;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  float:right;
  /* background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; */
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  height:1600px;
  background-color: #f2f2f2;
  padding: 50px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
